<%- include('includes/head.ejs') %>
</head>

<body>
    <main>
        <%- include('includes/navigation.ejs') %>
        <h1>Some Erorr Occurred!</h1>
        <h3>We are working of fixing this , sorry for the inconveninence!</h3> 
    </main>
  <%- include('includes/end.ejs') %>
